.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding:0 10px;
  width: 100%;
  min-height: calc(100vh - 200px);
}

.video-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.thumbnail {
  width: 100%;
  height: 180px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-info {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  margin:  0;
  line-height: 1.3;
  min-height: 65px;
  
}

.video-tags {
  font-size: 14px;
  margin-top: auto;
  color: #606060;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #eee;
  min-height: 50px; 
  align-items: center; 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.pagination button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filterbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.filterbar input {
  flex: 1;
  padding: 5px;
}

.tabs {
  display: flex;
}

.tabs span {
  padding: 10px;
  cursor: pointer;
}

.tabs .active {
  font-weight: bold;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, #6a11cb, #2575fc, #ff0080, #ff8c00) 1;
}

.tabs span:hover {
  background: #e9e8f9;
}

button:hover{
  background-color: #e6f0ff;
}